* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

body {
     font-family: 'PT Sans', sans-serif;
}



/*top nav bar styling starts here*/



.header {
     height: 60px;
     width: 100%;
     background-color: rgb(4, 5, 26);
     padding: 10px 15px 10px 0px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 14px;
     color: white;
     min-width: 1025px;
}

.bold {
     font-weight: bold;
}

.header > div {
     height: 100%;
     padding: 0px 10px;
}
.logo-image {
     height: 100%;
}

.header .deliver-to {
     color: white;
}

.header .search {
     flex: 1;
     height: 100%;
     display: flex;
     border: none;
     border-radius: 5px;
     overflow: hidden;
}

.header .search .all-items , .search-icon {
     height: 100%;
     width: 55px;
}

.header .search .all-items {
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: rgb(217, 217, 217);
     color: black;
     border-right: 1px solid rgb(192, 192, 192);
     padding: 0px 10px 0px 10px;
}

.all-items > i {
     padding-bottom: 10px;
}

.header .search .search-icon {
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: rgb(253, 188, 38);
     color: black;
     font-size: 1.5rem;
}



.header .search .search-box {
     height: 100%;
     background-color: white;
     flex: 1;
     border: none;
     outline: none;
     font-size: 24px;
}


.country-flag {
     padding: 10px 0px;
     display: flex;
     align-items: center;
}

.flag {
     height: 50%;
}
.busket-icon {
     display: flex;
     align-items: center;
     justify-content: center;
}
.busket-icon > i {
     font-size: 1.8rem;
}

.header .header-logo:hover, .deliver-to:hover, .country-flag:hover, .sign-in:hover, .returns-orders:hover, .busket-icon:hover, nav > div:hover, nav > p:hover {
     outline: 1px solid white;
     cursor: pointer;
}
.all-items, .search-icon {
     cursor: pointer;
}


/*styling nav bar*/




nav {
     height: 39px;
     background-color: rgb(54, 54, 74);
     display: flex;
     align-items: center;
     justify-content: flex-start;
     color: white;
     min-width: 1025px;
}
nav > div, nav > p > a{
     padding: 0px 10px;
     text-decoration: none;
     color: white;
}




/*styling slider*/





.carousel {
     width: 1520;
}

.slider-photo {
     min-width: 1025;
     max-width: 1520px;
}






/*Catagory component styling goes here*/







.cat-link {
     text-decoration: none;
}
.category {
     width: 355px;
     height: 420px;
     background-color: white;
     padding: 15px 15px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: flex-start;
     margin: 10px;
}

.category-header {
     font-size: 21px;
     color: rgb(44, 44, 44);
}

.cat-img {
     height: 80%;
     width: 100%;
     object-fit: cover;
}





/*Footer section styling goer here...*/






footer {
     width: 100%;
     min-width: 1025px;
}
.footer-upper {
     height: 60px;
     background-color: #485769;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
}

.footer-upper > a {
     text-decoration: none;
     color: white;
}

.footer-middle {
     background-color: #232F3E;
     padding: 100px 10px;
     display: flex;
     justify-content: center;
     border-bottom: 1px solid rgb(60, 60, 60);
}
.footer-middle > div {
     padding-left: 80px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     color: #ddd;
}
.footer-middle > div > h1 {
     font-size: 16px;
     font-weight: bold;
     color: white;
     line-height: 120%;
     padding-bottom: 5px;
}
.footer-middle > div > a {
     color: #ddd;
     text-decoration: none;
     line-height: 150%;
     font-size: .9rem;
}
.footer-lower {
     height: 100px;
     background-color: #232F3E;
     display: flex;
     align-items: center;
     justify-content: center;
     color: rgb(209, 209, 209);
     font-size: 12px;
}

.footer-lower > div, .footer-logo {
     height: 33%;
     width: 10%;
     display: flex;
     align-items: center;
     justify-content: center;
}
.footer-logo {
     margin-right: 40px;
}
.footer-lower > div {
     margin-left: 10px;
     border: 1px solid rgb(149, 149, 149);
}

.footer-logo img {
     height: 100%;
     border-radius: 5px;
}

.footer-location-flag {
     height: 50%;
}

.useful-links, .copyright {
     background-color: #131A22;
}

.useful-links {
     padding: 30px 400px;
     display: flex;
     justify-content: space-around;
}

.useful-links > div {
     flex: 1;
     display: flex;
     flex-direction: column;
     max-width: 70px;
}

.useful-links > div > a {
     text-decoration: none;
     color: #999999;
     font-size: 10px;
     margin-bottom: 25px;
}

.useful-links > div > a > span {
     color: #DDDDDD;
     font-size: 11px;
}

.copyright {
     width: 100%;
     min-width: 1025px;
     color: white;
     font-size: .8rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 25px;
}

.copyright > div > span {
     padding: 0px 10px;
}

.border-none {
     border: none !important;
}

